<div class="horizontal-spacer">&nbsp;</div>

<div class="row">
    <div class="col-lg-3">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Roles
                    <span class="panel-header-icon">
                        <span class="badge">{{resources.length}}</span>
                        <i class="fa fa-user-md" aria-hidden="true"></i>
                    </span>
                </h4>
            </div>
            <div class="panel-body">
                <scrollable-table watch="resources">
                    <table class="table table-hover table-rms">
                        <thead>
                            <tr>
                                <th>Role Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="resource in resources"
                                class="clickable">
                                <td ui-sref="admin.roles.detail({resourceId: {{resource.Id}} })">{{resource.Name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </scrollable-table>
                
                <div class="horizontal-spacer">&nbsp;</div>

                <div class="col-md-5">&nbsp;</div>
                <div class="col-md-3">
                    <button ui-sref="admin.roles.create"
                            type="button"
                            class="btn btn-success">
                        <i class="fa fa-plus-square-o" aria-hidden="true"></i> Create New Role
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Role Details
                    <span class="panel-header-icon">
                        <i class="fa fa-user-md" aria-hidden="true"></i>
                    </span>
                </h4>
            </div>
            <div class="panel-body">
                <div ui-view=""></div>
            </div>
        </div>
    </div>
</div>