<div class="horizontal-spacer">&nbsp;</div>
    
<div class="row">
    <div class="col-lg-1">&nbsp;</div>
    <div class="col-lg-10">
        <form role="form" data-ng-submit="passwordReset()">
            <table class="table">
                <thead>
                    <tr>
                        <th>Please enter your registered email address</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input data-ng-model="passwordResetModel.Email"
                                   type="email"
                                   class="form-control"
                                   placeholder="Email"
                                   required />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button data-ng-disabled="resetBtnDisabled"
                                    type="submit"
                                    class="btn btn-lg btn-info btn-block">
                                <i class="fa fa-refresh"></i> Reset Password
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    <div class="col-lg-1">&nbsp;</div>
</div>