<div class="container">
    <div class="horizontal-spacer">&nbsp;</div>
    
    <h4>Staff Calendar</h4>

    <div class="row">
        <div class="col-lg-2">
            <!--<button data-ng-click="previousMonth()"
                    data-ng-disabled="disabled"
                    class="btn btn-info"
                    type="button">
                <i class="fa fa-chevron-left"></i><i class="fa fa-chevron-left"></i> Prev
            </button>
            <button data-ng-click="nextMonth()"
                    data-ng-disabled="disabled"
                    class="btn btn-info"
                    type="button">
                Next <i class="fa fa-chevron-right"></i><i class="fa fa-chevron-right"></i>
            </button>-->
        </div>
        <div class="col-lg-10">
            &nbsp;
        </div>
    </div>
    
    <div class="horizontal-spacer">&nbsp;</div>

    <div class="row">
        <div class="col-lg-12">
            <daypilot-month id="dp" daypilot-config="config" daypilot-events="events"></daypilot-month>
        </div>
    </div>
    
    <div class="horizontal-spacer">&nbsp;</div>

</div>