<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <ul class="nav navbar-nav">
            <li>
                <a ui-sref="user.dash">
                    <i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard
                </a>
            </li>
            <!--<li>
                <a ui-sref="user.sites">
                    <i class="fa fa-building" aria-hidden="true"></i> My Sites
                </a>
            </li>-->
            <!--<li>
                <a ui-sref="user.rotas">
                    <i class="fa fa-calendar" aria-hidden="true"></i> My Rotas
                </a>
            </li>-->
            <!--<li>
                <a ui-sref="user.leave">
                    <i class="fa fa-file-text" aria-hidden="true"></i> Leave Form
                </a>
            </li>-->
            <!--<li>
                <a ui-sref="user.adjustment">
                    <i class="fa fa-file" aria-hidden="true"></i> Adjustment Form
                </a>
            </li>-->
        </ul>
    </div>
</nav>