<nav class="navbar navbar-default" role="navigation">
    <div class="container">
            <ul class="nav navbar-nav">
                <li>
                    <a ui-sref="admin.dash">
                        <i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard
                    </a>
                </li>
                <li>
                    <a ui-sref="admin.payroll">
                        <i class="fa fa-gbp" aria-hidden="true"></i> Payroll
                    </a>
                </li>
                <li>
                    <a ui-sref="admin.users">
                        <i class="fa fa-users" aria-hidden="true"></i> Users
                    </a>
                </li>
                <li>
                    <a ui-sref="admin.shifts">
                        <i class="fa fa-tasks" aria-hidden="true"></i> Shifts
                    </a>
                </li>
                <li>
                    <a ui-sref="admin.rotas">
                        <i class="fa fa-calendar" aria-hidden="true"></i> Rotas
                    </a>
                </li>
                <li>
                    <a ui-sref="admin.roles">
                        <i class="fa fa-user-md" aria-hidden="true"></i> Roles
                    </a>
                </li>
                <li>
                    <a ui-sref="admin.config">
                        <i class="fa fa-cogs" aria-hidden="true"></i> System Config
                    </a>
                </li>
            </ul>
    </div>
</nav>