<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="RmsContext" connectionString="Data Source=barnsrv03;Initial Catalog=RmsDb;User ID=rotadb;Password=goran;Integrated Security=False" providerName="System.Data.SqlClient" />-->
    <!--<add name="RmsContext" connectionString="Data Source=barnsrv03;Initial Catalog=RmsDbFinDev;User ID=rotadb;Password=goran;Integrated Security=False" providerName="System.Data.SqlClient" />-->
    <add name="RmsContext" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=RmsDb;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="AWSProfileName" value="default"/>
    <add key="AWSProfilesLocation" value="C:\aws_credentials\credentials"/>
    <add key="AWSRegion" value="eu-west-1" />
  </appSettings>
</configuration>