<div class="horizontal-spacer">&nbsp;</div>

<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Reporting 
                    <span class="panel-header-icon">
                        <i class="fa fa-file-text" aria-hidden="true"></i>
                    </span>
                </h4>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <h5>Monthly Payroll Report</h5>
                    <p>Click the button below to generate an Excel Spreadsheet version of the Monthly Payroll Report.</p>
                    <button data-ng-click="openMonthlyPayrollReportDialog()"
                            type="button"
                            class="btn btn-info">
                        <i class="fa fa-file-text-o" aria-hidden="true"></i> Monthly Payroll Report
                    </button>
                </div>

                <p>&nbsp;</p>

                <div class="col-md-12">
                    <h5>Daily Activity Report</h5>
                    <p>Click the button below to generate an Excel Spreadsheet version of the Daily Activity Report.</p>
                    <button data-ng-click="openDailyActivityReportDialog()"
                            type="button"
                            class="btn btn-info">
                        <i class="fa fa-file-text-o" aria-hidden="true"></i> Daily Activity Report
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Other Payroll Info.
                    <span class="panel-header-icon">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                    </span>
                </h4>
            </div>
            <div class="panel-body">

            </div>
        </div>
    </div>
</div>