<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="zktimedb" connectionString="Data Source=barnsrv03;Initial Catalog=zktime;User Id=rotadb;Password=goran;Integrated Security=False;" providerName="System.Data.SqlClient" />
    <!--<add name="zktimedb" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=zktime;Integrated Security=True;" providerName="System.Data.SqlClient" />-->

    <!--<add name="RmsContext" connectionString="Data Source=barnsrv03;Initial Catalog=RmsDb;User ID=rotadb;Password=goran;Integrated Security=False" providerName="System.Data.SqlClient" />-->
    <add name="RmsContext" connectionString="Data Source=barnsrv03;Initial Catalog=RmsDbFinDev;User ID=rotadb;Password=goran;Integrated Security=False" providerName="System.Data.SqlClient" />
    <!--<add name="RmsContext" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=RmsDb;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>