<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <!--<add name="RmsContext" 
         connectionString="Server=barnsrv03;Database=RmsDb;User ID=rotadb;Password=goran;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />-->
    <add name="RmsContext" 
         connectionString="Server=barnsrv03;Database=RmsDbFinDev;User ID=rotadb;Password=goran;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="zktimedb"
         connectionString="Server=barnsrv03;Database=zktime;User ID=rotadb;Password=goran;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    
  </system.web>
</configuration>